In [6]:
import pandas as pd
import json

In [4]:
import requests, json, pprint

def get_address(lat, lng):
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
    # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
    # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
    headers = {"Authorization": "KakaoAK 266ad1ea2bfd32a9ddb69530dd1a57e0"}
    api_json = requests.get(url, headers=headers)
    full_address = json.loads(api_json.text)

    return full_address

full_address = get_address('36.508387', '127.249967')
pprint.pprint(full_address)

{'documents': [{'address_name': '세종특별자치시 아름동',
                'code': '3611011300',
                'region_1depth_name': '세종특별자치시',
                'region_2depth_name': '',
                'region_3depth_name': '아름동',
                'region_4depth_name': '',
                'region_type': 'B',
                'x': 127.24746859698985,
                'y': 36.51754950284233},
               {'address_name': '세종특별자치시 아름동',
                'code': '3611053000',
                'region_1depth_name': '세종특별자치시',
                'region_2depth_name': '',
                'region_3depth_name': '아름동',
                'region_4depth_name': '',
                'region_type': 'H',
                'x': 127.24756231701619,
                'y': 36.51192250540953}],
 'meta': {'total_count': 2}}

### 주소값만 출력

In [5]:
import requests, json, pprint

def get_address(lat, lng):
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
    headers = {"Authorization": "KakaoAK 266ad1ea2bfd32a9ddb69530dd1a57e0"}
    api_json = requests.get(url, headers=headers)
    full_address = json.loads(api_json.text)

    # 'address_name' 값을 반환하도록 변경
    return full_address['documents'][0]['address_name']

full_address = get_address('36.508387', '127.249967')
print(full_address)

세종특별자치시 아름동

### df의 좌표값을 받아서 주소값을 새로운 열 '주소'에 저장

In [7]:
df= pd.read_csv('df_clean.csv', encoding = 'euc-kr')

In [9]:
df2 = df.head(10)

In [ ]:
import pandas as pd
import requests, json

def get_address(lat, lng):
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+str(lng)+"&y="+str(lat)
    headers = {"Authorization": "KakaoAK 266ad1ea2bfd32a9ddb69530dd1a57e0"}
    api_json = requests.get(url, headers=headers)
    full_address = json.loads(api_json.text)

    return full_address['documents'][0]['address_name']


df['주소'] = df.apply(lambda row: get_address(row['GPS_Y'], row['GPS_X']), axis=1)

df

In [12]:
df['주소']

0        세종특별자치시 한솔동
1        세종특별자치시 한솔동
2        세종특별자치시 아름동
3        세종특별자치시 고운동
4        세종특별자치시 고운동
            ...
1480    충청남도 공주시 산성동
1481    충청남도 공주시 송선동
1482     세종특별자치시 도담동
1483     세종특별자치시 도담동
1484     세종특별자치시 해밀동
Name: 주소, Length: 1485, dtype: object

In [70]:
df3 = df[df['주소'].str.contains('세종특별자치시')]

In [71]:
df3['주소']

0           세종특별자치시 한솔동
1           세종특별자치시 한솔동
2           세종특별자치시 아름동
3           세종특별자치시 고운동
4           세종특별자치시 고운동
             ...
1478    세종특별자치시 장군면 도계리
1479    세종특별자치시 전동면 보덕리
1482        세종특별자치시 도담동
1483        세종특별자치시 도담동
1484        세종특별자치시 해밀동
Name: 주소, Length: 1287, dtype: object

In [72]:
df3['주소2'] = df3['주소'].str.replace('세종특별자치시 ', '')  # '세종특별자치시' 삭제
df3['주소2'] = df3['주소2'].str.replace(r'(면\s).*', r'\1', regex=True)  # '면' 이후의 부분 삭제
df3['주소2'] = df3['주소2'].str.replace(r'(읍\s).*', r'\1', regex=True)  # '면' 이후의 부분 삭제

C:\Users\thesw\AppData\Local\Temp\ipykernel_10488\2632782688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['주소2'] = df3['주소'].str.replace('세종특별자치시 ', '')  # '세종특별자치시' 삭제
C:\Users\thesw\AppData\Local\Temp\ipykernel_10488\2632782688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['주소2'] = df3['주소2'].str.replace(r'(면\s).*', r'\1', regex=True)  # '면' 이후의 부분 삭제
C:\Users\thesw\AppData\Local\Temp\ipykernel_10488\2632782688.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['주소2'] = df3['주소2'].str.replace(r'(읍\s).*', r'\1', regex=True)  # '면' 이후의 부분 삭제

In [88]:
df3['주소2'] = df3['주소2'].str.rstrip()

C:\Users\thesw\AppData\Local\Temp\ipykernel_10488\2930928947.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['주소2'] = df3['주소2'].str.rstrip()

In [89]:
print(df3['주소2'].unique())

['한솔동' '아름동' '고운동' '종촌동' '새롬동' '금남면' '연서면' '전의면' '조치원읍' '나성동' '어진동' '도담동'
 '한별동' '연동면' '부강면' '전동면' '보람동' '소담동' '집현동' '반곡동' '장군면' '소정면' '대평동' '다정동'
 '누리동' '다솜동' '연기면' '세종동' '해밀동' '가람동' '합강동' '산울동']

In [50]:
df_pop = pd.read_csv('세종시 인구 데이터 완료2023.csv', encoding = 'euc-kr')

In [51]:
df_pop = df_pop[['ADM_CD', '도시']]
df_pop

       ADM_CD    도시
0    36110250  조치원읍
1    36110250  조치원읍
2    36110250  조치원읍
3    36110250  조치원읍
4    36110250  조치원읍
..        ...   ...
721  36110123   용호동
722  36110123   용호동
723  36110123   용호동
724  36110123   용호동
725  36110123   용호동

[726 rows x 2 columns]

In [53]:
df_pop = df_pop.drop_duplicates()
df_pop.head()

      ADM_CD    도시
0   36110250  조치원읍
22  36110310   연기면
44  36110320   연동면
66  36110330   부강면
88  36110340   금남면

In [57]:
df_pop['주소2'] = df_pop['도시']
df_pop = df_pop[['ADM_CD', '주소2']]
df_pop.head()

      ADM_CD   주소2
0   36110250  조치원읍
22  36110310   연기면
44  36110320   연동면
66  36110330   부강면
88  36110340   금남면

In [66]:
df_pop

       ADM_CD   주소2
0    36110250  조치원읍
22   36110310   연기면
44   36110320   연동면
66   36110330   부강면
88   36110340   금남면
110  36110350   장군면
132  36110360   연서면
154  36110370   전의면
176  36110380   전동면
198  36110390   소정면
220  36110101   반곡동
242  36110102   소담동
264  36110103   보람동
286  36110104   대평동
308  36110106   한솔동
330  36110107   나성동
352  36110108   새롬동
374  36110109   다정동
396  36110110   어진동
418  36110111   종촌동
440  36110112   고운동
462  36110113   아름동
484  36110114   도담동
506  36110116   해밀동
528  36110105   가람동
550  36110115   산울동
572  36110117   합강동
594  36110118   집현동
616  36110119   세종동
638  36110120   누리동
660  36110121   한별동
682  36110122   다솜동
704  36110123   용호동

In [90]:
df_merged = df3.merge(df_pop, on='주소2', how='inner')
# df_merged = df3.merge(df_pop, on='주소2', how='left')

In [91]:
print(df3['주소2'].unique())

['한솔동' '아름동' '고운동' '종촌동' '새롬동' '금남면' '연서면' '전의면' '조치원읍' '나성동' '어진동' '도담동'
 '한별동' '연동면' '부강면' '전동면' '보람동' '소담동' '집현동' '반곡동' '장군면' '소정면' '대평동' '다정동'
 '누리동' '다솜동' '연기면' '세종동' '해밀동' '가람동' '합강동' '산울동']

In [76]:
print(df3['주소2'].nunique())

32

In [92]:
df_merged

,일련번호,정산지역코드,정류장ID,버스정류장명,정류장x위치값,정류장Y위치값,행정구역코드,교통수단,노선번호,노선명,정류장명,정류장수,정류장순서,X좌표,Y좌표,GPS_X,GPS_Y,주소,주소2,ADM_CD
0,1,26001,6801095,한솔중학교(첫마을7단지),12715.3348,3628.5228,3611051000,세종시(일반),601,601번(수루배마을6단지~조치원역),한솔중학교(첫마을7단지),50,18,12715.3348,3628.5228,127.255580,36.475380,세종특별자치시 한솔동,한솔동,36110106
1,11,26001,6801058,첫마을3단지,12715.6702,3628.6926,3611051000,세종시(일반),601,601번(수루배마을6단지~조치원역),첫마을3단지,50,17,12715.6702,3628.6926,127.261170,36.478210,세종특별자치시 한솔동,한솔동,36110106
2,954,26001,6801096,한솔중학교(첫마을7단지),12715.3420,3628.4946,3611051000,세종시(일반),601-1,601-1번(조치원역~수루배마을6단지),한솔중학교(첫마을7단지),50,33,12715.3420,3628.4946,127.255700,36.474910,세종특별자치시 한솔동,한솔동,36110106
3,1130,26001,6801112,첫마을4단지,12715.0960,3628.8114,3611051000,세종시(일반),601-1,601-1번(조치원역~수루배마을6단지),첫마을4단지,50,30,12715.0960,3628.8114,127.251600,36.480190,세종특별자치시 한솔동,한솔동,36110106
4,1131,26001,6801113,첫마을5단지,12714.9838,3628.6572,3611051000,세종시(일반),601-1,601-1번(조치원역~수루배마을6단지),첫마을5단지,50,31,12714.9838,3628.6572,127.249730,36.477620,세종특별자치시 한솔동,한솔동,36110106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,1810,26001,6801287,가람동(이마트앞),12715.1248,3628.2372,3611051000,세종시(일반),53,53번(장기중학교후문~장기중학교후문),가람동(이마트앞),38,11,12715.1248,3628.2372,127.252080,36.470620,세종특별자치시 가람동,가람동,36110105
1283,1394,26001,6800979,합강2리,12720.5680,3631.0938,3611032000,세종시(일반),33,33번(조치원버스터미널~부강면),합강2리,42,29,12720.5680,3631.0938,127.342800,36.518230,세종특별자치시 합강동,합강동,36110117
1284,1565,26001,6801242,합강2리(합강공원),12720.3826,3631.0674,3611032000,세종시(일반),33,33번(조치원버스터미널~부강면),합강2리(합강공원),42,30,12720.3826,3631.0674,127.339710,36.517790,세종특별자치시 합강동,합강동,36110117
1285,1595,26001,6802300,은하수공원,12714.7213,3631.9605,3611031000,세종시(일반),16-1,16-1번(은하수공원~조치원터미널),은하수공원,32,1,12714.7213,3631.9605,127.245355,36.532675,세종특별자치시 산울동,산울동,36110115
1286,1713,26001,6801300,은하수공원,12714.7199,3631.9505,3611031000,세종시(일반),16,16번(조치원역~은하수공원),은하수공원,32,32,12714.7199,3631.9505,127.245332,36.532508,세종특별자치시 산울동,산울동,36110115

In [86]:
print(df_merged.shape)
print(df3.shape)

(1287, 20)
(1287, 19)

In [93]:
df_merged.to_csv('세종시 버스정류장 주소 추가22.csv', encoding = 'euc-kr', index=False)